<%- model_class = Approval -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<%= render :partial => 'shared/expense_with_approvals' %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              approvals_path, :class => 'btn'  %>
</div>
