<div class="page-header">
  <h1>
    <%= reimbursement_list_title @category, @organization, @month %> 
  </h1>
</div>

<% @reimbursements.each do |reimbursement| %>
<div class="bill">
  <%= render 'reimbursements/reimbursement', :reimbursement => reimbursement, :selected_category => @category, :show_expense_modal => false %>
</div>      
<% end %>