<%- model_class = Expense -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= render 'shared/expenses' %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_expense_path,
            :class => 'btn btn-primary' %>
