<%= render :partial => 'shared/expense_with_approvals' %>

<%- model_class = Expense -%>
<%= form_for @expense, :url => url_for(:action => 'commit') do |f| %>
  <div class="form-actions">
    <%= f.submit t('.commit', :default => t("helpers.submit.commit", :model => model_class.model_name.human)), :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                expenses_path, :class => 'btn' %>
  </div>
<% end %>