<%- model_class = Expense -%>

<%= render 'navs', css_class: ["", "active"]  %>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= render 'expenses/expenses_datatable' %>